:root {
  --dark-bg: hsl(0, 0%, 8%);
  --bg-color: #03256c;
  --main-color: #0ca678;
  --font-color: #212529;
  /* --main-color: #087f5b; */
  --ligh-bg-color: #81a4cd;
  --accent: #f17300;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-bg);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  font-size: 18px;
  /* padding: 0px; */
}
.container {
  box-sizing: border-box;
  flex: 1 0 auto;
  /* width: 60vh; */
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 50px;
  min-height: 100%;
}

button,
select,
input {
  font-family: inherit;
  color: var(--font-color);
  font-size: 18px;

  /* background-color: #087f5b; */

  /* color: var(--main-color); */
}

input[type="text"] {
  box-sizing: border-box;
  padding-left: 5px;
  border: none;
  outline: none;
}
input:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0, 0.1);
}
input:focus {
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0, 0.1);
}
fieldset {
  border: 0;
  display: inline-block;
}
fieldset div {
  display: inline-block;
}
fieldset div input:hover,
fieldset div input:focus {
  box-shadow: none;
}

fieldset label:hover {
  cursor: pointer;
}
select {
  border: none;
  outline: none;
  border-radius: 2px;
}

select.decorated option {
  background-color: red;
}
.warning {
  color: red;
  font-weight: 700;
  margin-left: 25px;
}

/* select:focus > option:hover {
  background-color: red;
  cursor: pointer;
} */
/* .conditionDiv,
.questionDiv,
.typeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .inputDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
button {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0, 0.1);
  font-size: 18px;
  border-radius: 2px;
  padding: 10px;
  margin-right: 5px;
  border: none;
  letter-spacing: -0.5px;
  /* border: 2px solid var(--accent); */

  /* background-color: var(--accent); */
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0, 0.2);
}
button:active {
  /* background-color: #3e8e41; */
  cursor: grab;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
  transform: translateY(2px);
}
button span {
  padding-left: 5px;
}

.addIcon {
  fill: var(--main-color);
  height: 18px;
  width: 18px;
}
.containerDiv {
  display: flex;
  box-sizing: border-box;
  /* overflow: hidden; */
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid var(--main-color);
  /* background-image: linear-gradient(to right, #9ae17b, var(--main-color)); */
  background-image: linear-gradient(to right, #9df0ac, var(--main-color));
  max-width: 750px;
  min-width: 750px;
  border-radius: 10px;
}
.containerDiv div {
  margin: 10px 0px 10px 25px;
  padding: 0 10px;
}
.containerDiv p {
  display: inline-block;
}
div {
  margin: 10px 0px 10px 25px;
}
.starterAddIcon {
  fill: var(--main-color);
  height: 30px;
  width: 30px;
}
.starterButton {
  margin: 30vh auto;
  font-size: 30px;
}
.starterButton:hover {
  box-shadow: 0px 0px 5px 5px rgb(12, 166, 120, 0.8);
}
.addIcon-0 {
  fill: var(--main-color);
  height: 24px;
  width: 24px;
}
.button-0 {
  /* margin-top: 30vh; */
  font-size: 24px;
  margin: 15vh 0px 30vh 50px;
  /* border: 2px solid var(--main-color); */
}
.button-0:hover {
  box-shadow: 0px 0px 5px 5px rgb(12, 166, 120, 0.8);
}

.footer {
  /* min-width: 960px; */
  height: 25px;
  margin-top: -25px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  background-color: var(--main-color);
  color: var(--font-color);
}

.show {
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.horizontalShake {
  animation-name: horizontalShake;
  animation-duration: 0.5s;
  transition-timing-function: linear;
}
@keyframes horizontalShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 550px) and (max-width: 957px) {
  .container {
    margin-left: 5vh;
  }
  .inputDiv {
    flex-direction: column;
    margin: 0px;
  }
  .conditionDiv,
  .questionDiv,
  .typeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .conditionDiv select {
    margin-bottom: 15px;
  }
  .containerDiv {
    min-width: 350px;
    max-width: 350px;
    flex-direction: column;
  }
  .containerDiv div {
    margin: 0px 0px 10px 0px;
  }

  .containerDiv button {
    margin: 5px;
  }
}
@media (max-width: 549px) {
  .container {
    margin-left: 0vh;
  }
  .inputDiv {
    flex-direction: column;
  }
  .conditionDiv,
  .questionDiv,
  .typeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .conditionDiv select {
    margin-bottom: 15px;
  }
  .containerDiv {
    min-width: 350px;
    max-width: 350px;
    flex-direction: column;
  }
  .containerDiv div {
    margin: 0px 0px 10px 0px;
  }

  .containerDiv button {
    margin: 5px;
  }
}
